/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	    font-family: 'Abel', sans-serif;
	}

/*In the application.css file, make sure to set the width and height of the #map-container to 500px.*/

.bench-index-item{
	margin:20px;
	padding:20px;
}

ul {
  list-style: none;
}

button {
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	margin: 0px 10px;
	background:white;
	border: 1px solid gray;
	border-radius: 5px;
}

button:hover{
	color:white;
	background:black;
}

.bench-index-item{
	border: 1px solid black;
}

.map-instruction{
	margin:0px 50px 0px 15px
}

.bench-form{
	width:300px;
	height:300px;
	margin:0 auto;
	border: 1px solid black;
	padding:0px 30px;
}

.bench-form input{
	margin:10px 15px;
}

.search {
	display:block;
	width:1200px;
}

.right-half{
	-webkit-padding-start: 0;
	float:left;
	width: 500px;
  height: 600px;
  overflow-y: scroll;
  padding: 0 10px 10px 10px;
}

#map-container {
	display:block;
	height:500px;
	width:500px;
	float:left;
	margin:0px 30px 0px 15px;
}